*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Cairo,sans-serif;
    background:#f3f4f6;
    min-height:100vh;
    padding:20px;
}

.designer-container{
    display:flex;
    gap:25px;
    align-items:flex-start;
}

.controls{
    width:350px;
    background:#fff;
    padding:20px;
    border-radius:16px;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.controls h2{
    margin-bottom:20px;
}

.controls label{
    display:block;
    margin-top:15px;
    margin-bottom:8px;
    font-weight:600;
}

.controls input[type="color"]{
    width:100%;
    height:45px;
    border:none;
    cursor:pointer;
}

.preview-area{
    flex:1;
    display:flex;
    justify-content:center;
}

.phone-preview{
    width:320px;
    min-height:650px;

    background:#fff;

    border-radius:35px;

    padding:25px;

    box-shadow:
        0 10px 30px rgba(0,0,0,.15);

    text-align:center;

    transition:.3s;
}

.logo{
    width:120px;
    height:120px;

    object-fit:cover;

    border-radius:50%;

    margin:auto;
    display:block;

    margin-bottom:15px;
}

#previewTitle{
    margin-bottom:10px;
}

#previewDescription{
    margin-bottom:25
